*{
    border:none;
}
.bpContainer{
    background-color: rgba(0, 0, 0, 0.63);
    border: none;

    height: 100%;
    position:absolute;
    bottom: 0;
}
.bpComposerInput{ color: white; min-height: 20px;} 
.bpComposerContainer{
    background-color: #31ff0014;

}
.bpHeaderContentTitle{
    color: white;
}
.bpMessageBlocksBubble {
    box-shadow: 0px 0px 10px #00d42e6c;
}


