 *{
    margin: 0;
    padding: 0;
}


.logoIn{
    display: none;
    animation: alternate;
}

.center{ display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center
}
.center-none{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.chi.sono{
    margin-top: 300px;
}
.menu{ position: fixed; 
    background-color: rgba(255, 255, 255, 0.94); 
    height: 7%;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}
.sop:hover{
    text-shadow: 2px 2px 5px #7a7a7a;
}


.title{
    font-size: 70px;
    color: black;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 10%;
    z-index: 0;
}
.cont_1{
    margin-top: 130px;
    font-size: 30px;
    text-shadow: 2px 2px 5px #7a7a7a;
    padding-left: 20px;
    padding-right: 20px;
}
.sx{
    float: left;
}
.dx{
    float: right;
}

.foto2_class{
    width: 50%;
    height: 30%;
    display: flex;
    margin-left: 15%;
}


.fade-in{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%{
        opacity: 0%;
        transform: translateY(2vh);
    }
    100%{
        opacity: 100%;
    }
}





#foto1{
    border-radius: 10%;
    width: 55%;
    margin-left: 60%;
    margin-left: 30%;
    margin-top: 40px;
    
}
#foto2{
    border-radius: 10%;
    width: 50%;
    margin-left: 30%;
    margin-top: 40px;
}

.buttonSocial{
    border-radius: 10px;
    width: 55vh;
    height: 10vh;
    border: solid rgb(2, 2, 2);
    margin-top: 50px;
}
#igButton:hover{color: rgb(255, 0, 106); cursor: pointer;border:  solid rgb(255, 0, 166);}
#ytButton:hover{color: rgb(255, 0, 0); cursor: pointer;border:  solid rgb(255, 0, 0);}
#scButton:hover{color: rgb(255, 89, 0); cursor: pointer;border:  solid rgb(255, 89, 0);}
#ctButton:hover{color: rgb(0, 0, 0); cursor: pointer;border:  solid rgb(0, 81, 255);}


.border{
    border: 1px solid red;
}


#menu{
    font-weight: bold;
}

#logoM{
    width: 2vh;
}


#profile{
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 226, 226);
}
#about{
    height: 500px;
    background-color: rgb(226, 226, 226);
}
#service{
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}


#imgdj{
    width: 20%;
    border-radius: 50%;
}




ul#menu li {
    display: block;
    margin-left: 5vh;
    float: left; 
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}
ul#menu li a {
    color: rgb(0, 0, 0);
    display: block;
    text-decoration: none;
    text-align: center;
}

#logoPr{
    width: 3%;
    margin-left: 50px;
}
#logoPr:hover{
    cursor: auto;
}

#mail{
    width: 10vh;
    position: relative;
    top: 5vh;
    left: 40vw;
}


/*form contatti*/
.form1{
    padding-top: 10vh;
    padding-left: 40vw;
}
#submitButton{
    border-radius: 20px;
    width: 20vh;
    height: 5vh;
    margin-top: 1vh;
}
#submitButton:hover{
    border-radius: 20px;
    width: 20vh;
    height: 5vh;
    margin-top: 1vh;
    cursor:pointer;
    background-color: #7a7a7a74;
}


#contactme{
    background-color:rgb(202, 199, 199);
    width: 100%;
    height: 30vh;    
}
    
#name{
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#email{
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#content{
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}


#name-6797{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-top-right-radius: 20px;
    margin-left: 50px;
    height: 30px;
    width: 200px;
    text-align: center;
    justify-content: center; 
}
#email-6797{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    margin-left: 50px;
    height: 30px;
    width: 200px;
    text-align: center;
    justify-content: center; 
}
#message-6797{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-end-end-radius: 20px;
    margin-left: 27px;
    margin-top: 1%;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
#address-333f{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-end-end-radius: 20px;
    margin-left: 27px;
    margin-top: 1%;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
#select-66c5{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-end-end-radius: 20px;
    margin-left: 27px;
    margin-top: 1%;
    width: 150px;
    height: 20px;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
#date-0019{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-end-end-radius: 1px;
    margin-left: 27px;
    margin-top: 1%;
    width: 150px;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
#phone-9292{
    background-color: rgb(195, 195, 195);
    border-top-left-radius: 2px;
    border-end-end-radius: 20px;
    margin-left: 27px;
    margin-top: 1%;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
#audioeluci{
    margin-left: 27px;
    margin-top: 1vh;
}
#audio{
    margin-left: 27px;
    margin-top: 1vh;
}
#pack{
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#provincia{
    margin-top: 20px;
}
#p-f{
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#data{
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#tel{
    padding-top: 20px;
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 5px #333333;  
}
#ac{
    padding-top: 20px;
    font-size: 20px; 
}



@media (max-width: 502px) {
    h1{
        scale: 0.8;
    }

    #foto1{
        border-radius: 10%;
        margin-top: 40%;
        width: 70%;
        height: 50%;
    }
    #foto2{
        border-radius: 10%;
        margin-left: 2vh;
        margin-top: 40%;
        width: 70%;
        height: 50%;
        
    }
    .buttonSocial{
        border-radius: 10px;
        width: 20vh;
        border: 2cm;
        margin-top: 50px;
    }
    
    #message-6797{
        background-color: rgb(195, 195, 195);
        border-top-left-radius: 2px;
        border-end-end-radius: 20px;
        margin-left: 27px;
        margin-top: 1%;
        width: 50%;
        align-items: center; 
        justify-content: center; 
        text-align: center;
    }
    #menu{
        scale: 0.9;
        margin-right: 5vh;
    }
    .menu{
        height: 80px;
    }
    .form1{
        padding-top: 10vh;
        padding-left: 10px;
    }
}


