:root{
    --color-bg: rgb(28, 49, 66);
    --widthSocials: 50px;
}


*{
    padding: 0;
    margin: 0;
    background-color:  var(--color-bg);
    /* border: solid red 2px; */
}
body{
    padding-left: 10vw;
    padding-right: 10vw;

    overflow: hidden;
}

.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


header{
    width: 100%;
    height: 100px;

    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 30px;
    
}
.logo-title{
    position: relative;
    font-weight: 10px;
    font-size: 36px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.content-text, .content-text-{
    width: 300px;
    position: relative;
    font-weight: 3px;
    font-size: 36px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.content-text::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    animation: showRight-text 3s ease infinite;
    animation-delay: .4s;

}

.cursore{
    position: relative;
    top: 50px;
    height: 50px;
    width: 10px;
    background-color: white;
    left: 0;
    z-index: 1;
    border-radius: 20px;


    animation: lampeggio 3s ease infinite;
    animation-delay: .4s;
}




.img{
    position: absolute;
    top: 20px;
    width: auto;
    right: 10%;
    /* border: solid red 2px; */

    z-index: 1;

}

.img-main{ 
    /* border: solid red 2px; */

}
.cover-img{
    position: absolute;
    background-color: var(--color-bg);
    opacity: 20%;

    width: 100%;
    height: 100%;

    z-index: 4;
    /* border: solid red 2px; */
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);  
}
.img .cover-img:hover{
    opacity: 50%;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}


.social-img{
    display: flex;
    color: white;
    width: 300px;
    position: relative;
    top: 100px;
    font-size: 23px;
    /* border: solid rgb(73, 43, 43) 2px; */
}
.social-img a{
    width: 100%;
}

.--img{
    /* margin-left: 1px; */
    height: var(--widthSocials);
    /* border: solid rgb(165, 122, 122) 2px; */
}


@media (max-width: 970px) {
    .img{
        position: absolute;
        top: 324px;
        left: 0px;
        width: 400px;
        margin-left: 50px;

        /* border: solid red 2px; */
    }
    
    .social-img{
        position: absolute;

        top: 250px;
        left: 70vw;
        width: 70px;
        height: 0px;

        display: grid;

        /* border: solid red 2px; */
    }
    .social_img{
        display: inline;

        width: 100%;
        margin-top: 10px;

        /* border: solid rgb(196, 127, 127) 2px; */
    }
    .--img{
        width: 100%;
        height: 70px;
    }

        
    .cover-img{
        left: -26px;

        width: 450px;
    }
}
@media (max-width: 700px) {
    .img{
        margin-top: 10px;
        margin-left: 50px;
    }
    .social-img{
        display: flex;
        color: white;
        
        background-color: transparent;
        width: 100vw;
        height: 85px;

        margin-left: 0px;

        position: relative;
        top: 400px;
        left: -50px;

        font-size: 23px;

        z-index: 2;

        /* border: solid rgb(73, 43, 43) 2px; */
    }
    .social-img a{
        width: 100%;
        height: 100%;
        /* border: solid rgb(176, 155, 155) 2px; */
    }
    
    .--img{
        width: 70px;
        height: 65px;
        margin-top: 10px;
        /* border: solid rgb(165, 122, 122) 2px; */
    }
}



/* animation */

@keyframes lampeggio{ 
    /* animazione cursore */


    0%{
        left: 0px;
        opacity: 100%;
    }
    3%{
        left: 5px;
    }

    10%{
        left: 65px;
    }
    15%{
        left: 65px;
        opacity: 100%;
    }

    17%{
        left: 80px;
        opacity: 0%;
    }
    20%{
        left: 90px;
        opacity: 0%;
    }

    30%{
        left: 95px;
        opacity: 100%;
    }
    35%{
        left: 95px;
    }

    37%{
        left: 100px;
        opacity: 100%;
    }
    40%{
        left: 100px;
    }

    45%{
        left: 140px;
    }
    47%{
        left: 140px;
    }

    50%{
        left: 220px;
        opacity: 100%;
    }
    53%{
        left: 220px;
        opacity: 100%;
    }

    58%{
        left: 250px;
        opacity: 0%;
    }   

    60%{
        opacity: 100%;
    }

    61%{
        left: 250px;
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    75%{
        opacity: 100%;
    }

    80%{
        left: 300px;
        opacity: 0%;
    }

    85%{
        left: 300px;
        opacity: 100%;
    }

    90%{
        left: 0%;
        opacity: 100%;
    }
    100%{
        left: 0px;
        opacity: 100%;
    }
}

@keyframes showRight-text{
    5%{
        width: 85%;
    }
    7%{
        width: 85%;
    }

    10%{
        width: 75%;
    }
    15%{
        width: 75%;
    }

    17%{
        width: 70%;
    }
    20%{
        width: 70%;
    }

    30%{
        width: 65%;
    }
    35%{
        width: 65%;
    }

    37%{
        width: 65%;
    }
    40%{
        width: 65%;
    }

    45%{
        width: 53%;
    }
    47%{
        width: 53%;
    }

    50%{
        width: 27%;
    }
    53%{
        width: 27%;
    }

    58%{
        width: 15%;
    }
    61%{
        width: 15%;
    }

    80%{
        width: 0%;
    }

    85%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}
