/* BARRA SCORRIMENTO --------- */
    /* Stile per la scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* Larghezza della scrollbar verticale */
        height: 0px; /* Altezza della scrollbar orizzontale */
    }
    /* Stile per il track della scrollbar */
    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    /* Stile per il thumb della scrollbar */
    ::-webkit-scrollbar-thumb {
        background: rgb(17, 17, 17);
        border-radius: 3px; /* Angoli arrotondati */
    }

    /* Stile per il thumb della scrollbar quando è in hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #000000be;
        width: 0px;
    }
    ::-webkit-scrollbar-thumb:hover  {
        background: #555;
    }
    /* Stile per Firefox */
    body {
        scrollbar-width: 10px; /* Larghezza della scrollbar */
        scrollbar-color: rgb(36, 36, 36) rgb(0, 0, 0); /* Colore del thumb e del track */
    }
/* ----------------- */



:root{
    --with-menu: 25%;
    --height-header: 81px;

    --green-color-main: rgb(158,246,70);
    --gray-bg-color: #1C1C1C;
}

*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: white;

    overflow-x: hidden;
    /* border: solid red 2px; */
}

.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



header {display: flex; background-color: #141414; box-shadow: 0px 0px 36px #000000; 
height: var(--height-header); z-index: 2;}

header #Title {
    width: 100vw; 
    z-index: 1;

    height: 90%;
    
    /* border: solid rgb(255, 0, 0) 2px;  */
}
header #Title h1 {
    /* border: solid rgb(255, 0, 0) 2px;  */
    width: 200px; 
    color: white; 
    font-size: 20px;
    
    z-index: 1;
    background-color: transparent;
}

    #X { height: 50px; overflow: hidden;}
    .hamburger-menu {
        /* border: solid rgb(255, 0, 0) 2px;  */
        width: 100px; 
        height: fit-content;
        padding-top: 30px;
        position: fixed;
        right: 0px;
        z-index: 3;
        
    }
    .hamburger-menu-open .line {
        margin-top: -40px;
    }

    .menu_cont {
        height: fit-content;
    }
        
        menu {
            border: none;
            width: 100%;
            height: 100vh;
            
            position: fixed;
            
            top: -100vh;
            opacity: 0;
            
            background-color: var(--gray-bg-color);
            z-index: 1;
            
            transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
        }
        .hamburger-menu-open {
            opacity: 1;
            height: 100%;
        }
        .hamburger-menu-open a {
            height: fit-content;
        }
        

        header .hamburger-menu #hbg-2  {opacity: 0; transition: all 0.5s cubic-bezier(.215, .61, .355, 1); }
        header .hamburger-menu #hbg-1  {opacity: 1; transition: all 0.5s cubic-bezier(.215, .61, .355, 1);}
        header .hamburger-menu #hbg-3 {opacity: 1; transition: all 0.5s cubic-bezier(.0, .0, .0, 1);}
        
        header .hamburger-menu-open #hbg-1 {transform: rotate(45deg); opacity: 1; margin-top: 10px;transition: all 0.5s cubic-bezier(.215, .61, .355, 1); width: 30%;}
        header .hamburger-menu-open #hbg-2 {transform: rotate(-45deg); opacity: 1; margin-top: -3.5px; z-index: 1; transition: all 0.5s cubic-bezier(.215, .61, .355, 1); width: 30%;}
        header .hamburger-menu-open #hbg-3 {opacity: 0; transition: all 0s cubic-bezier(.215, .61, .355, 1); width: 20%;}

        .hamburger-menu-open{right: 0%; top: 0%; }
        
        menu-in {width: 100%; height: 70%; border: solid rgba(255, 0, 0, 0) 2px; }
        menu-in a { opacity: 1; text-decoration: none; font-size: 1.5rem; transition: all 1s cubic-bezier(.215, .61, .355, 1);}

        header div div { 
            background-color: white; 
            height: 3px; width: 50%; 
            margin-left: var(--with-menu); 
        }
        
        header .hamburger-menu:hover {cursor: pointer;}
        header img:hover {cursor: pointer;}
        

    menu {
        /* border: solid red 2px; */
        height: 100%;
        width: 100%;

        z-index: 1;
    }
        
        
        
        
body{ background-color: #1C1C1C; position: relative; height: 100%; overflow-x: hidden; z-index: -1; scroll-behavior: smooth;}
#logo {
    /* border: solid red 2px; */
    margin-top: 20px;

    width: 40px;
    max-width: 30px;
    height: 40px;
    max-height: 30px;

    margin-left: 5%; 
    position: fixed;
    z-index: 3;
}


body section { 
    border: solid rgba(255, 0, 0, 0) 2px; 
    width: 100%;
    height: fit-content;
    min-height: 93vh; 
    
    border: solid rgba(255, 0, 0, 0) 2px; 
    display: list-item; 
    
    display: flex;
    flex-direction: column;

    padding: 0 0 60px 0;
    margin: 0 0 0 0;
    /* border: solid red 2px; */

    scroll-snap-type: y mandatory;
}
    .Title {
        height: fit-content;
        width: 90%;

        font-size: 30px;
        z-index: 4;
    }
    .Title h1 {z-index: 4;}

    #Home {
        height: 100vh;
        font-size: 30px; 
        padding-top: 0 0 0 0;
        margin: 0 0 0 0;
        /* border: solid red 2px; */
    }
    
    .block_cont {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-bottom: 40px;

        /* border: solid red 2px; */
    }
    .block_cont img {
        width: 30%;
        max-width: 200px;

        /* border: solid red 2px; */
    }

.cont_title {
    color: var(--green-color-main);
    padding: 20px 0 0 0;
}


#Description {
    /* border: solid red 2px; */
    width: 100%;
    padding: 0 0 0 0;
}
    .txt-cont {
        /* border: solid red 2px; */
        font-size: 20px;
        font-weight: 200;

        max-width: 50%;
        min-width: 300px;
        margin: 40px 40px 40px 40px;

        text-align: center;
    }

#Esplora {
    height: fit-content;
    /* border: solid rgb(255, 0, 0) 2px; */
}
    #Esplora .block_cont{
        height: 80vh;
        /* border: solid rgb(255, 255, 255) 2px; */

        z-index: -1;

        display: flex;      
        flex-wrap: wrap;  
        flex-direction: row;
    }
    #Esplora .block_cont img {
        height: 200px;
        /* border: solid rgb(121, 121, 121) 2px; */
    }
       
    

#Staff {height: fit-content; min-height: 100vh; /*border: solid red 2px;*/}
    #badges-container {
        margin-top: 30px;
        min-width: 300px;
        width: 50vw;
        height: fit-content;

        display: flex;
         flex-wrap: wrap;
            align-items: start;
            justify-content: start;
            align-content: flex-start;

        /* border: solid rgb(255, 255, 255) 2px; */
    }
    .badge {
        width: fit-content;
        height: 50px;
        /* border: solid red 2px; */
        border-radius: 10px;
        padding: 10px 50px 10px 50px;
        margin: 10px 10px 10px 10px;

        font-size: 20px;

        background-color: #00000042;
        box-shadow: 0px 0px 10px rgba(158, 246, 70, 0.486);
    }
        

.z0 {
    z-index: 0;
}



footer{
    font-size: 7px; 
    position: fixed; 
    right: 20px; 
    bottom: 30px;
}


@media (max-width: 680px) {
    #Esplora .block_cont{    
        display: flex;   
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #Esplora .block_cont img {

        height: 100px;
        /* border: solid rgb(121, 121, 121) 2px; */
        width: 200px;
        height: 200px;
    } 

    #badges-container {
        align-items: center;
        justify-content: center;

        /* border: solid red 2px; */
    }
}