
@keyframes OpacityDown {
    0% {
        opacity: 100%;
    }
    30% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes OpacityUp {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


@keyframes buttonClick {
    
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }

    20% {
        transform: scale(1);
    }
}



*{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
body {scroll-behavior: smooth;}
a {
    text-decoration: none;
    color: black;
}

.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.center_column{ 
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body { padding: 30px;}

/*HAMBURGER MENU------------*/
#hamburger_menu {
    /* border: solid red 2px; */
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 50px;

        position: fixed;
    cursor: pointer;
    z-index: 4;
}
#hamburger_menu div {
    border: solid rgb(109, 109, 109) 2px;
    background-color: solid rgb(109, 109, 109) 2px;

    box-shadow: rgba(0, 0, 0, 0.288) 0px 0px 5px;

    width: 50px;
        margin-top: 5px;
        margin-bottom: 5px;

    border-radius: 20px;

    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);

    z-index: 4;
}

    .hamburger_menu_open div:nth-child(1) {
        transform: rotate(45deg);
        scale: .8;
    } 
    .hamburger_menu_open div:nth-child(2) {
        transform: translateY(-10px) rotate(-45deg);
        scale: .8;
    }
        /*MENU ----------*/ 
        #menu {
            /* border: solid red 2px; */
            position: fixed;
                right: 20px;
                top: 100px;
                
            height: 80vh;

            background-color: rgba(167, 167, 167, 0);
            border-radius: 20px;
            z-index: 3;

            backdrop-filter: blur(5px);
            overflow: hidden;
        }
            #menu ul li{
                text-decoration: none;
                list-style-type: none;
                list-style: none;
                font-size: 25px;
                margin: 40px 0px 40px 0px;
            }
            
        .menu_close {
            width: 0px;
                min-width: 0px; 
            transition: all .5s cubic-bezier(.215, .61, .355, 1);
        }
        .menu_open {
            width: 100%;
                min-width: 350px;
            animation: OpacityUp .5s ease-in-out;
            transition: all .5s cubic-bezier(.215, .61, .355, 1);
        }
        .menu_close ul li {
            animation: OpacityDown .5s ease-in;
        }


        .metaW { width: 50%; }
        .metaH { height: 50%; }
        .sec_all {width: 100%;}
section { 
    margin-top: 50px;
    height: fit-content;
    min-height: 600px;
}
    h1 {font-size: 1.3rem;}
    p {font-size: 1rem;}


.title {
    /* border: solid red 2px; */
    width: 100%;
}


    #first_sec {
        /* border: solid rgb(234, 0, 255) 2px; */

        position: sticky;
            top: 10px;

            width: 50%;
            min-width: 450px;
            max-width: 40%;
        max-height: 200px;
    }
        #first_sec div {
            /* border: solid red 2px;  */
            position: relative;
            top: 10px;
            width: 200px; height: 200px; 
            min-width: 200px; max-height: 200px; 
        }

            #first_sec #first_div {
                background-color: #A292FD;
                opacity: 80%;
                z-index: 1;

                position: relative;
                    top: -150px;
                    left: 150px;
            }
            #first_sec img { min-width: 200px; max-width: 300px; width: 20vw;
                border: white solid 10px;
                border-radius: 50%; z-index: 2; 
            }

            #first_sec #second_div {
                /* border: solid red 2px; */
                background-color: #8BBAFF;
                opacity: 80%;
                z-index: 1;

                position: relative;
                    top: 90px;
                    left: -150px;
            }
                
                
.sec_one {
    /* border: solid rgb(0, 195, 255) 2px; */
    width: 50%;

    height: fit-content;
        /* max-height: 700px; */
        padding: 5px;
    
    position: absolute;
        top: 100px;
        left: 40%;
}

    #second_sec {
        /* border: solid rgb(0, 255, 98) 2px; */
        width: 100%;
        height: fit-content;
            min-height: 500px;
            max-height: 90%;
            min-width: 200px;
    }
        #second_sec .content {
            /* border: solid rgb(255, 0, 0) 2px; */

            background-color: rgba(216, 216, 216, 0.192);
            box-shadow: 0px 0px 20px rgba(216, 216, 216, 0.459);
            border-radius: 20px;
            padding: 40px;
            
            position: relative;
            height: fit-content;
                min-height: 200px;
            width: 80%;
                min-width: 100px;
                max-width: 600px;

        }

    #third_sec {
        /* border: solid red .2px; */
        position: relative;
            /* left: 40%; */
        h

        display: flex;
            flex-direction: column;

    }
        #third_sec video {
            width: 400px;
            height: 150px;
        }

    #fourth_sec {
        /* border: solid red .2px; */
        position: relative;
            top: 760px;
            /* left: 40%; */
    }
    


footer {
    position: absolute;
    bottom: 10px;
    left: 10px;

    backdrop-filter: blur(5px);
}
footer p::before {
    content: "Created by ";
}
footer a {
    text-decoration: underline;
}



@media (max-width: 950px) {
    #menu {
        height: 100%;
        top: 0px;
    }
    .metaW { width: 100%; }
    .metaH { height: 100%; }

    #first_sec {
        /* border: 1px solid #000; */
        width: 100%;
            max-width: 100%;
    }

    .sec_one {
        display: block;
        /* border: solid red 2px; */
    
        width: 100%;
        height: fit-content;

        position: relative;
            top: 0px;
            left: 0px;
    }


    #first_sec {
        position: relative;
    }

    #second_sec {
        /* border: solid rgb(0, 255, 98) 2px; */
        height: fit-content;
            min-height: 500px;
            max-height: 90%;
            min-width: 200px;
    }
        #second_sec .content {
            /* border: solid rgb(255, 0, 0) 2px; */

            background-color: rgba(216, 216, 216, 0.192);
            box-shadow: 0px 0px 20px rgba(216, 216, 216, 0.459);
            border-radius: 20px;
            padding: 40px;
            
            position: relative;
            height: fit-content;
                min-height: 200px;
            width: 100%;
                min-width: 200px;
                max-width: 600px;

        }
    
    #fourth_sec {
        /* border: solid red 1px; */
        position: relative;
            top: 0px;
            /* left: 40%; */
    }
}



/* BARRA SCORRIMENTO --------- */
    /* Stile per la scrollbar */
    ::-webkit-scrollbar {
        width: 5px; /* Larghezza della scrollbar verticale */
        height: 0px; /* Altezza della scrollbar orizzontale */
    }
    /* Stile per il track della scrollbar */
    ::-webkit-scrollbar-track {
        background: rgba(212, 212, 212, 0);
    }

    /* Stile per il thumb della scrollbar */
    ::-webkit-scrollbar-thumb {
        background: rgb(230, 229, 229);
        border-radius: 3px; /* Angoli arrotondati */
    }

    /* Stile per il thumb della scrollbar quando è in hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(136, 136, 136);
        width: -100px;
    }
    ::-webkit-scrollbar-thumb:hover  {
        background: rgb(177, 177, 177);
    }
    /* Stile per Firefox */
    body {
        scrollbar-width: 10px; /* Larghezza della scrollbar */
        scrollbar-color: rgb(230, 229, 229) rgb(255, 255, 255); /* Colore del thumb e del track */
    }
/* ----------------- */